# OTP MODE
# false = demo OTP 123456
# true  = real SMS OTP using Twilio
USE_TWILIO_OTP=false

# Twilio SMS Credentials
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+1234567890
