{% extends "base.html" %}

{% block content %}
<div class="form-card small">
    <h2>User Login</h2>

    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button class="btn primary full" type="submit">Login</button>
    </form>

    <p class="hint">New user? <a href="{{ url_for('user_register') }}">Create account</a></p>
</div>
{% endblock %}
